In [1]:
import pandas as pd

In [3]:
expr = pd.read_csv("/labs/khatrilab/provido/luna_final/LUNA-main/gene_expr_data/mergedExpr2.csv")
pheno = pd.read_csv("/labs/khatrilab/provido/luna_final/LUNA-main/gene_expr_data/mergedPheno.csv")
expr

,Unnamed: 0,RBP7,PGD,UBIAD1,AGTRAP,TNFRSF8,ALPL,LDLRAP1,NUDC,PHACTR4,...,XBP1,AP1B1,SF3A1,CBX6,TCF20,BRD1,MTMR3,TOP3B,SNRPD3,THOC5
0,GSM4210123,4.958472,7.689553,6.431265,6.701697,5.320632,7.540836,6.881013,5.522178,5.895283,...,6.046271,5.880048,7.172882,6.094148,6.154447,5.763828,6.814271,5.688114,5.910768,6.274615
1,GSM4209698,5.131645,7.530393,6.008887,6.553826,5.525961,7.347126,6.950476,5.511009,5.827562,...,6.219720,6.010369,7.186905,6.062765,5.907457,5.776445,6.822486,5.809508,5.720799,6.418465
2,GSM4210220,4.944196,7.996810,5.989775,7.053491,5.491501,8.582081,6.575443,5.503850,5.724944,...,5.972521,5.788120,6.825070,6.221771,6.125958,5.840158,6.896272,5.697657,5.668080,6.526257
3,GSM4209759,5.118807,8.067931,6.056883,6.856631,5.702337,6.812489,6.715406,5.536857,5.831828,...,6.169697,6.126086,7.447366,6.287001,6.262465,5.915143,7.079515,5.712355,5.567701,6.227146
4,GSM4209776,5.158677,8.010965,6.074152,6.882290,5.535079,8.125721,6.546010,5.367275,5.760796,...,5.965542,6.050791,7.483070,6.136985,6.160790,5.821698,7.270701,5.664805,5.626032,6.490700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,GSM9485713,7.729000,6.628667,6.010667,8.417000,7.058000,6.082500,8.632000,6.976667,7.942500,...,7.480500,7.582000,7.763000,8.835000,6.585500,7.029500,6.543250,5.291500,10.347000,5.660500
463,GSM9485705,7.786000,6.694333,5.932000,8.712000,6.937000,5.748000,8.206000,6.741667,7.549500,...,6.878000,7.320000,8.222500,8.623500,6.842000,7.353500,7.156250,5.016000,9.358000,5.764000
464,GSM6222692,8.834863,9.485796,9.557530,8.482584,6.821759,5.730474,10.551892,11.016198,7.910434,...,14.307227,10.591651,11.176237,13.670245,8.757718,12.506862,8.819315,7.564780,8.211793,7.985989
465,GSM6222691,6.173620,9.322086,9.612732,8.396143,6.419475,5.102094,10.835196,11.222291,8.061012,...,14.251472,10.647700,11.157581,13.591107,9.013379,12.214414,8.629834,7.879546,8.321542,8.097602
466,GSM6222693,7.118270,9.226500,9.388606,8.495421,6.512262,5.425959,10.630654,11.306295,8.092918,...,14.241718,10.702885,11.484451,13.664122,8.881516,12.212366,8.542821,7.737209,8.298939,8.069283

In [4]:
pheno

,geo_accession,geo_accession.1,GSE,tissue_source,disease_status,GSEid,class
0,GSM4210123,GSM4210123,GSE141631,whole blood,dermatitis,GSE141631,1
1,GSM4209673,GSM4209673,GSE141661,whole blood,dermatitis,GSE141661,1
2,GSM4210067,GSM4210067,GSE141661,whole blood,dermatitis,GSE141661,1
3,GSM4210133,GSM4210133,GSE141661,whole blood,dermatitis,GSE141661,1
4,GSM4210142,GSM4210142,GSE141631,whole blood,dermatitis,GSE141631,1
...,...,...,...,...,...,...,...
462,GSM9485707,GSM9485707,GSE318067,circulating cells from peripheral blood,systemic lupus erythematosus,GSE318067,1
463,GSM9485717,GSM9485717,GSE318067,circulating cells from peripheral blood,systemic lupus erythematosus,GSE318067,1
464,GSM6222691,GSM6222691,GSE205751,peripheral blood mononuclear cell,vitiligo,GSE205751,1
465,GSM6222692,GSM6222692,GSE205751,peripheral blood mononuclear cell,vitiligo,GSE205751,1
466,GSM6222693,GSM6222693,GSE205751,peripheral blood mononuclear cell,vitiligo,GSE205751,1

In [ ]:
caps = {
    "dermatitis": 208,
    "melanoma": 22,
    "psoriasis": 3,
    "scleroderma": 24,
    "systemic lupus erythematosus": 41,
    "vitiligo": 3,
    "healthy": 97,
}
140+22+3+24+41+3+97 # CORRECT intended dimensions

330

In [21]:
print(pheno_sub.iloc[5]['disease_status'])

dermatitis

In [18]:
pheno_sub = (
    pheno[pheno["disease_status"].isin(caps)]
      .groupby("disease_status", group_keys=False)
      .apply(lambda g: g.sample(n=min(len(g), caps[g.name]), random_state=42))
).reset_index(drop = True)
pheno_sub.to_csv("/labs/khatrilab/provido/luna_final/LUNA-main/gene_expr_data/final_pheno.csv")
pheno_sub

/tmp/ipykernel_198465/3805600613.py:4: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(n=min(len(g), caps[g.name]), random_state=42))

,geo_accession,geo_accession.1,GSE,tissue_source,disease_status,GSEid,class
0,GSM4209638,GSM4209638,GSE141661,whole blood,dermatitis,GSE141661,1
1,GSM4209765,GSM4209765,GSE141661,whole blood,dermatitis,GSE141661,1
2,GSM4210207,GSM4210207,GSE141661,whole blood,dermatitis,GSE141661,1
3,GSM4209648,GSM4209648,GSE141661,whole blood,dermatitis,GSE141661,1
4,GSM4210224,GSM4210224,GSE141631,whole blood,dermatitis,GSE141631,1
...,...,...,...,...,...,...,...
325,GSM9485716,GSM9485716,GSE318067,circulating cells from peripheral blood,systemic lupus erythematosus,GSE318067,1
326,GSM9485693,GSM9485693,GSE318067,circulating cells from peripheral blood,systemic lupus erythematosus,GSE318067,1
327,GSM6222691,GSM6222691,GSE205751,peripheral blood mononuclear cell,vitiligo,GSE205751,1
328,GSM6222692,GSM6222692,GSE205751,peripheral blood mononuclear cell,vitiligo,GSE205751,1
329,GSM6222693,GSM6222693,GSE205751,peripheral blood mononuclear cell,vitiligo,GSE205751,1

In [19]:
order = pheno_sub["geo_accession"].tolist()

expr_sub = (
    expr.set_index("Unnamed: 0")   # GSM id column in expr
        .loc[order]                # reorder + subset to pheno_sub order
        .reset_index()
        .rename(columns={"index": "geo_accession"})
)
expr_sub = expr_sub.set_index(expr_sub.columns[0])
expr_sub.to_csv("/labs/khatrilab/provido/luna_final/LUNA-main/gene_expr_data/final_expr.csv")
expr_sub

,RBP7,PGD,UBIAD1,AGTRAP,TNFRSF8,ALPL,LDLRAP1,NUDC,PHACTR4,TXLNA,...,XBP1,AP1B1,SF3A1,CBX6,TCF20,BRD1,MTMR3,TOP3B,SNRPD3,THOC5
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
GSM4209638,5.252151,7.699401,6.025282,6.677100,5.409338,6.674159,6.766130,5.524265,6.007218,5.879475,...,6.843744,5.930977,7.442666,6.167206,6.168937,5.847757,6.698736,5.744256,5.711423,6.232966
GSM4209765,5.224000,7.904653,6.053321,6.774810,5.451919,7.872771,6.754417,5.500938,5.909545,5.815134,...,6.376787,6.061247,7.376897,6.081439,6.257866,5.878020,7.175517,5.707246,5.544811,6.396217
GSM4210207,4.808202,7.091917,6.166715,6.708424,5.397582,7.166171,6.611986,5.398774,5.622035,5.739294,...,6.276023,5.804370,6.891614,6.105741,6.194842,5.837640,6.878519,5.653300,5.804806,6.397198
GSM4209648,5.008833,8.111956,6.060989,6.931607,5.389402,7.396394,6.821036,5.600188,5.709235,5.876902,...,6.318673,6.097020,7.428021,6.283925,6.287169,5.852994,7.306731,5.402869,5.935684,6.541191
GSM4210224,4.917185,7.596684,6.209752,6.806166,5.400727,7.463658,6.699948,5.338463,5.712337,5.767983,...,6.063102,6.034170,7.015734,6.288373,6.180033,5.728841,6.906298,5.981243,5.937183,6.463761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM9485716,8.907000,6.971333,5.733000,9.109000,6.672000,6.691000,7.756000,6.586333,6.614500,5.548500,...,7.326500,7.277000,7.552250,8.680000,6.548000,6.769000,7.483250,4.831000,9.450000,5.798500
GSM9485693,8.448000,7.248333,5.750000,8.799333,7.023000,8.167500,8.569500,6.655000,7.528000,5.695000,...,7.078000,7.713000,8.189500,8.628000,6.666500,6.951500,7.483750,5.097500,9.338000,5.928500
GSM6222691,6.173620,9.322086,9.612732,8.396143,6.419475,5.102094,10.835196,11.222291,8.061012,11.571535,...,14.251472,10.647700,11.157581,13.591107,9.013379,12.214414,8.629834,7.879546,8.321542,8.097602
GSM6222692,8.834863,9.485796,9.557530,8.482584,6.821759,5.730474,10.551892,11.016198,7.910434,11.092594,...,14.307227,10.591651,11.176237,13.670245,8.757718,12.506862,8.819315,7.564780,8.211793,7.985989
GSM6222693,7.118270,9.226500,9.388606,8.495421,6.512262,5.425959,10.630654,11.306295,8.092918,11.823523,...,14.241718,10.702885,11.484451,13.664122,8.881516,12.212366,8.542821,7.737209,8.298939,8.069283

### Select for different conditions